*background: #111111
*foreground: #ebdbb2
! Black + DarkGrey
*color0:  #212226
*color8:  #928374
! DarkRed + Red
*color1:  #d83a3d
*color9:  #fb4934
! DarkGreen + Green
*color2:  #8CB73D
*color10: #71BA3A
! DarkYellow + Yellow
*color3:  #d79921
*color11: #fabd2f
! DarkBlue + Blue
*color4:  #458588
*color12: #83a598
! DarkMagenta + Magenta
*color5:  #b16286
*color13: #d3869b
! DarkCyan + Cyan
*color6:  #689d6a
*color14: #8ec07c
! LightGrey + White
*color7:  #a89984
*color15: #ebdbb2

! XTerm
XTerm*selectToClipboard: true
XTerm*BorderWidth: 0
! Without this Ctrl+h is not working in vim:
XTerm*ptyInitialErase: true
XTerm.keysym.C-Up:     font-size:increase
XTerm.keysym.C-Down:   font-size:decrease
XTerm.keysym.C-S-Up:   font-size:incglobal
XTerm.keysym.C-S-Down: font-size:decglobal
XTerm.keysym.C-equal:  font-size:reset
XTerm.keysym.C-slash:  font-size:show
XTerm*font: xft:DejaVuSansMono Nerd Font:pixelsize=16:antialias=true:hinting=true
XTerm.iso14755: false
XTerm.iso14755_52: false


! RXVT-UNICODE
urxvt*selectToClipboard: true
urxvt*scrollBar: false
urxvt*transparent: true
urxvt*shading: 50

urxvt.perl-ext-common: ...,font-size

urxvt.keysym.C-Up:     font-size:increase
urxvt.keysym.C-Down:   font-size:decrease
urxvt.keysym.C-S-Up:   font-size:incglobal
urxvt.keysym.C-S-Down: font-size:decglobal
urxvt.keysym.C-equal:  font-size:reset
urxvt.keysym.C-slash:  font-size:show

urxvt.iso14755: false
urxvt.iso14755_52: false
urxvt*font: xft:DejaVuSansMono Nerd Font:pixelsize=16:antialias=true:hinting=true

urxvt*boldFont: xft:DejaVuSansMono Nerd Font:style=Bold:bold:pixelsize=16:antialias=true:hinting=true
! urxvt.cursorColor: #bbbbbb
! urxvt*fading: 3

Xft*antialias: True
