xterm*selectToClipboard: true
urxvt*selectToClipboard: true

! Without this Ctrl+h is not working in vim:
xterm*ptyInitialErase: true

! hard contrast: *background: #1d2021
! *background: #0a0a0a
*background: #242424
! soft contrast: *background: #32302f
*foreground: #ebdbb2
! Black + DarkGrey
*color0:  #212226
*color8:  #928374
! DarkRed + Red
*color1:  #d83a3d
*color9:  #fb4934
! DarkGreen + Green
! *color2:  #98971a
! *color10: #b8bb26
*color2:  #8CB73D
*color10: #71BA3A
! DarkYellow + Yellow
*color3:  #d79921
*color11: #fabd2f
! DarkBlue + Blue
*color4:  #458588
*color12: #83a598
! DarkMagenta + Magenta
*color5:  #b16286
*color13: #d3869b
! DarkCyan + Cyan
*color6:  #689d6a
*color14: #8ec07c
! LightGrey + White
*color7:  #a89984
*color15: #ebdbb2

! urxvt.cursorColor: #bbbbbb

! xterm*fading: 3
! xterm*scrollBar: false
Xterm*transparent: true
Xterm*shading: 50

! urxvt*fading: 3
urxvt*scrollBar: false
urxvt*transparent: true
urxvt*shading: 50

urxvt.perl-ext-common: ...,font-size

Xft*antialias: True

xterm.keysym.C-Up:     font-size:increase
xterm.keysym.C-Down:   font-size:decrease
xterm.keysym.C-S-Up:   font-size:incglobal
xterm.keysym.C-S-Down: font-size:decglobal
xterm.keysym.C-equal:  font-size:reset
xterm.keysym.C-slash:  font-size:show

urxvt.keysym.C-Up:     font-size:increase
urxvt.keysym.C-Down:   font-size:decrease
urxvt.keysym.C-S-Up:   font-size:incglobal
urxvt.keysym.C-S-Down: font-size:decglobal
urxvt.keysym.C-equal:  font-size:reset
urxvt.keysym.C-slash:  font-size:show

urxvt.iso14755: false
urxvt.iso14755_52: false
xterm.iso14755: false
xterm.iso14755_52: false

xterm*font: xft:DejaVuSansMono Nerd Font:pixelsize=16:antialias=true:hinting=true
urxvt*font: xft:DejaVuSansMono Nerd Font:pixelsize=16:antialias=true:hinting=true

! Ctrl +: larger-vt-font()
! Ctrl -: smaller-vt-font()

urxvt*boldFont: xft:DejaVuSansMono Nerd Font:style=Bold:bold:pixelsize=16:antialias=true:hinting=true
