snippet #!
#!/bin/sh
$0
endsnippet

snippet info
# =============================================================================
# File:        `!p snip.rv = snip.fn`
# Description: ${1:description}
# Author:      ihsan <ihsanl at pm dot me>
# Created At:  `date +%s`
# License:     MIT License
# =============================================================================
$0
endsnippet

snippet timestamp
`date +%s` 
endsnippet

snippet @timestamp
@`date +%s` 
endsnippet
