snippet info
" =============================================================================
" File:        `!p snip.rv = snip.fn`
" Description: ${1:description}
" Author:      ihsan <ihsanl at pm dot me>
" Created At:  `date +%s`
" License:     MIT License
" =============================================================================
$0
endsnippet
