#
# edit0: This mode info strings effects the python interpreter. omg
# edit1: This mode info strings effects the all cli interpreters. OMG
#

set editing-mode vi
set show-mode-in-prompt on
set keyseq-timeout 0

set vi-ins-mode-string ""
set vi-cmd-mode-string ""
set completion-ignore-case on
