
/* /1* hide navigation bar when it is not focused; use Ctrl+L to get focus *1/ */
/* #main-window:not([customizing]) */
/* #navigator-toolbox:not(:focus-within):not(:hover) { */
/* 	margin-top: -80px; */
/* } */
/* #navigator-toolbox #nav-bar { */
/* 	transition: 0.2s margin-top ease-out; */
/* } */

#TabsToolbar, .tabbrowser-tab {
	/* display: block !important; */
	max-height: 25px !important;
	margin-left: 0px !important;
	margin-right: 0px !important;
}

/* Remove + sign for new tab */
#tabs-newtab-button { display: none; }

/* Change color of normal tabs */
tab:not([selected="true"]) {
	background-color: #242424 !important;
	color: #d5c4a1 !important;
}

/* Tab: selected colors */
#tabbrowser-tabs .tabbrowser-tab[selected] .tab-content {
	background: #d78d1f !important;
	color: #242424 !important;
}

/* Tab: hovered colors */
#tabbrowser-tabs .tabbrowser-tab:hover:not([selected]) .tab-content {
	background: #242424 !important;
	color: #d78d1f !important;
}

/* For tab bar color you can use this: */
/*AGENT_SHEET*/
#main-window #navigator-toolbox #TabsToolbar:not(:-moz-lwtheme) {
	background: #282828 !important;
}

/** Auto hide scrollbars
/*  http://userstyles.org/styles/96257
/*  by freecyber
/*  update 2014-0116
*/
@-moz-document regexp("(?!(chrome:)).*")
{
  html scrollbar:not(#foo)
  {
    z-index: 2147483647 !important;
    position: relative !important;
    transition: all 0s !important;
  }
  html scrollbar:not(#foo),
html scrollbar:not(#foo) *
  {
    -moz-appearance: none !important;
    background: none !important;
    margin: 0px !important;
    padding: 0px !important;
    border: 0px !important;
    box-shadow: none !important;
  }
  html :not(select)>scrollbar[orient="vertical"]:not(#foo),
html>scrollbar[orient="vertical"]:not(#foo)
  {
    -moz-margin-start: -12px !important;
    max-width: 12px !important;
    min-width: 12px !important;
  }
  html scrollbar[orient="horizontal"]:not(#foo)
  {
    margin-top: -12px !important;
    max-height: 12px !important;
    min-height: 12px !important;
  }
  html:not(#foo) scrollbar:not(#foo) thumb[orient="vertical"]:not(#foo)
  {
    min-height: 24px !important;
    width: 12px !important;
    min-width: 12px !important;
    max-width: 12px !important;
  }
  html scrollbar:not(#foo) thumb[orient="horizontal"]
  {
    min-width: 24px !important;
    height: 12px !important;
    min-height: 12px !important;
    max-height: 12px !important;
  }
  html scrollbar:not(#foo) thumb
  {
    border-radius: 6px !important;
    background: transparent !important;
    border: 2px solid rgba(0,255,255,0) !important;
    box-shadow: 0 0 0 8px rgba(128,128,128,.4) inset !important;
    transition: all 0s !important;
    opacity: 1 !important;
  }
  html scrollbar:hover:not(#foo) thumb
  {
    box-shadow: 0 0 0 8px rgba(128,128,128,.7) inset !important;
    transition: all .5s !important;
  }
  html scrollbar:not(#foo) thumb:active
  {
    box-shadow: 0 0 0 8px rgba(128,128,128,1) inset !important;
    transition: all .5s !important;
  }
/* no buttons */
  html scrollbar:not(#foo) scrollbarbutton
  {
    min-height: 0px !important;
    min-width: 0px !important;
    max-height: 12px !important;
    max-width: 12px !important;
    height: 0px !important;
    width: 0px !important;
  }
/* autohide */
  html:not(#foo) :not(select):not(:hover)>scrollbar:not(:hover),
html:not(#foo) > scrollbar:not(#foo):not(:hover)
  {
    opacity: 0 !important;
    transition: all .5s !important;
  }
}
