snippet case
switch(${1:expression}) {
	case ${2:1}:
		${4:body}
		break;
	case ${3:2}:
		${5:body}
		break;
	default:
		${6:body}
}
endsnippet

snippet if
if (${1:contition}) {
	${0:body}
}
endsnippet

snippet elif
else if (${1:contition}) {
	${0:body}
}
endsnippet

snippet else
else {
	${0:body}
}
endsnippet

snippet for
for (${1:var i = 0}; ${2: i < 10}; ${3: i++}) {
	${0:body}
}
endsnippet

snippet func
function ${1:name}(${2:args}) {
	${0:body}
}
endsnippet
